<%= link_to 'New Video', new_video_path %>
<% @videos.each do |video| %>
  <ul>
    <li>
      <h1><%= video.title %></h1>
      <video width="400" controls>
        <source src=<%= video.file %> type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <br>
      <%= link_to 'Delete', video_path(video), data: { confirm: 'Are you sure?', method: 'delete'}%>
    </li>
  </ul>
  <% end %>
